target
rezasm-app/*/target
rezasm-source/*/target

package-lock.json
rezasm-source/rezasm-core/Cargo.lock
rezasm-source/rezasm-macro/Cargo.lock
rezasm-source/Cargo.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
build
dist
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
