@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* leave this until we rewrite the primary gui*/
:root {
  font-family: "JetBrains Mono";
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50vw;
  min-width: 600px;
  max-width: 1000px;
  margin: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.fill {
  width: 100%;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.codearea {
  height: 60vh;
  width: 100%;
}

textarea {
  width: 100%;
  height: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #ffffff;
  resize: none;
}

.scrollbox {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.control-panel {
}

.address-input {
  @apply font-bold py-2 px-4 rounded
}

button {
  margin: 2px;
}

.btn-basic {
  font-size: 16px;
  @apply text-white font-bold py-2 px-4 rounded bg-blue-500 hover:bg-blue-700 disabled:bg-gray-500 disabled:hover:bg-gray-500;
}

.btn-operation {
  font-size: 16px;
  width: 20%;
  @apply text-white font-bold py-2 px-4 rounded disabled:bg-gray-500 disabled:hover:bg-gray-500;
}

table {
  @apply table-auto bg-gray-200 border border-separate border-spacing-0 border-slate-400
}

th {
  @apply bg-gray-100 border border-gray-300 text-black font-bold py-2 px-4
}

td {
  @apply bg-gray-100 border border-slate-300 text-black py-1 px-4
}

.console {
  background: #333333;
  color: #f8f8f8;
  text-align: left;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 1vh;
  height: 20vh;
  width: 100%;
}

.console-history-scrollbox {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.console-history-text {
  color: inherit;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-wrap: anywhere;
  word-wrap: break-word;
}

.console-input-box {
  justify-content: left;
  margin-top: 1vh;
  padding: 0;
  color: inherit;
  font: inherit;
  width: 100%;
}

.console-prefix {
  color: inherit;
  font: inherit;
  height: inherit;

  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.console-input-text {
  color: inherit;
  font: inherit;
  height: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    color: #f6f6f6;*/
/*    background-color: #2f2f2f;*/
/*  }*/

/*  a:hover {*/
/*    color: #24c8db;*/
/*  }*/

/*  textarea {*/
/*    color: #ffffff;*/
/*    background-color: #0f0f0f98;*/
/*  }*/

/*  table {*/
/*    color: white;*/
/*    background: #2f2f2f;*/
/*  }*/

/*  td {*/
/*    color: white;*/
/*    background: #2f2f2f;*/
/*  }*/

/*  tr {*/
/*    color: white;*/
/*    background: #2f2f2f;*/
/*  }*/
/*}*/
